server {

    root /var/www/__PLACE_HOLDER__/;
    index index.html;
    server_tokens off;

    server_name __PLACE_HOLDER__;

    access_log /var/log/nginx/__PLACE_HOLDER__.access.log;
    error_log /var/log/nginx/__PLACE_HOLDER__.error.log;

    location / {
        try_files $uri $uri/ =404;
    }

}